@import '../utils/variables';

.button {
  padding: 10px 20px;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: $font-stack;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $secondary-color;
  }
}
