@import '../utils/variables';

.button {
  padding: 10px 20px;
  background-color: $primaryColor;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: $fontStack;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $secondaryColor;
  }
}
