.cardContainer {
    @extend %flexColumCenter;
    width: 384px;
    height: 178px;
}

.cardTitle {
    font-size: $fontSize20;
    font-weight: $fontWeigth500;
    margin-bottom: 0;
}

.cardText {
    color: $textUsCard;
}