.carouselContainer {
    width: 100%;
    margin: 0 auto;
    gap: $px12;
    margin-bottom: 38px;
  }
  
  .carouselSlide {
    text-align: center;
    img {
      width: 95%;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    }
  
    p {
      margin-top: 10px;
      font-size: 1rem;
      font-weight: bold;
      color: #333;
      display: none;
    }
  }
  