.footer {
  background-color: $backFooter; // Ajusta según tu diseño
  padding: 1.5rem 8rem;
  font-family: $fontStack;

  .footerContent {
    display: flex;
    align-items: center;
    //justify-content: space-between; // Logo - Íconos - Derechos
    //max-width: 1200px;
    margin: 0 auto;

    // Sección Izquierda (Logo + Tagline)
    .footerLeft {
      display: flex;
      flex-direction: column;
      align-items: flex-start; // Alinea texto a la izquierda
        width: 50%;
      .footerLogo {
        width: 30%; // Ajusta el tamaño del logo
        //margin-bottom: 0.5rem;
      }

      .footerTagline {
        font-size: 0.7rem;
        font-weight: bolder;
        color: $tagLineFooter;
      }
    }

    .footerCenter {
        @extend %flexColumCenter;
        gap: 1.5rem;
      // Sección Central (Redes Sociales)
      .footerSocials {
        display: flex;
        gap: 1.5rem; // Espacio entre íconos

        a {
          display: flex;
          align-items: center;

          img {
            width: 3rem; // Tamaño de cada ícono
            height: auto;
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      // Sección Derecha (Derechos Reservados)
      .footerRights {
        p {
          font-size: 0.85rem;
          color: $rightsFooter;
        }
      }
    }
  }
}

// Ajustes Responsive
@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .footerLeft,
  .footerSocials,
  .footerRights {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerLeft {
    .footerLogo {
      margin-bottom: 0.5rem;
    }
  }
}
