@import "../utils/extends";
@import "../utils/variables";

.header {
  //position: relative; /* Asegura que z-index sea aplicable */

  font-family: $fontStack;
  color: $ligthColor;
  font-size: $fontSizeNormal;

  //display: flex;
  

  .headerViolet {
    position: relative;
    width: 100%;
    //max-width: 1440;
    height: 89px;
    z-index: 1;

    background-image: url("../../assets/headerBackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    // Esta capa NO es sticky, así que se mueve con el scroll
  }

  .headerNavContainer {
    position: sticky;
    top: 0; // Se queda en la parte superior
    z-index: 999; // Asegúrate de que quede encima de la capa violeta

    .headerNav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      //width: 80%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 2rem;
      height: 60px; // Ajusta la altura
      border-radius: 30px;

      background: rgba(0, 0, 0, 0.25); // Gris semitransparente
      backdrop-filter: blur(10px);

      .headerMenu {
        // @extend %flexBetween;
        // width: 320px;
        display: flex;
        gap: 1.5rem;
        align-items: center;

        li {
          list-style: none;
          color: #fff;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
            transition: 400ms;
          }
        }

        button {
          /* Botón “INICIO” */
          background-color: #6a11cb;
          border: none;
          border-radius: 16px;
          padding: 0.5rem 1.5rem;
          color: #fff;
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            background-color: #4e0e9e;
          }
        }
      }
      .headerLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 176px;
        height: auto;

        &:hover {
          scale: 110%;
          transition: 400ms;
        }
        .headerLogoIcon {
          margin-top: 40px;
          width: 103px;
          height: 101px;
          justify-self: center;
        }
      }
    }
  }
}
