@import '../utils/extends';

.header {
    background-image: url('../../assets/headerBackground.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box; 
    //padding: 1rem 2rem;
    //overflow: hidden;

    .headerNav{
        flex-direction: row;
        @extend %flex;

        .headerMenu {
            @extend %flex;
        }
    
        .headerLogo {
    
                width: 1rem;
                height: auto;
        }
    }

   
}

