//@import "../utils/extends";
//@import "../utils/variables";

.heroSection {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: $fontStack;
  color: $titleColor;
  font-size: $fontSizeNormal;
  @extend %flex;
}

.heroContainer {
  @extend %flexColumCenter;
  max-width: 830px;

  text-align: center;
  //padding-top: -10vh;
  position: relative;
  z-index: 1;
}

.heroTitle {
  font-size: $fontSizeTitle;
  font-weight: $fontWeigthTitle;
  margin-bottom: 0px;
  margin-top: 0px;
}

.titleRemark {
  font-weight: $fontWeigthStrong;
}

.heroText {
  color: $titleTextColor;
  font-size: $fontSize18;
  max-width: 600px;
  margin-bottom: 150px;
}
