.heroSection {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: $fontStack;
  color: $titleColor;
  @extend %flex;

}

.heroContainer {
  @extend %flexColumCenter;
  max-width: 830px;

  text-align: center;

  @media (max-width: map-get($breakpoints, mobile)) {
    max-width: 90%;
  }
}

.heroTitle {
  font-size: $fontSizeTitle;
  font-weight: $fontWeigthTitle;

  @media (max-width: map-get($breakpoints, mobile)) {
    font-size: $fontSize26;
    font-weight: $fontWeigth600;
  }
}

.titleRemark {
  font-weight: $fontWeigthStrong;
}

.heroText {
  color: var(--titleTextColor);
  font-size: $fontSize18;
  max-width: 600px;
  margin-bottom: 150px;


  @media (max-width: map-get($breakpoints, mobile)) {
    max-width: 90%;
  }
}

.heroButton {
  text-decoration: none;
  padding: 4px 12px;
  color: white;
  font-family: $fontStack;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.5rem;
  width: 14rem;
  height: 3.5rem;
  font-weight: $fontWeigth700;
  border-radius: 72px;
  align-content: center;


  border: 1px solid var(--linear, #a79fff);
  background: var(--color-time,
      linear-gradient(180deg, #7e73ff 0%, #6941c6 100%));

  &:hover {
    background-color: $secondaryColor;
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    width: 60%;
  }
}