.portfolioCarousel {
  max-width: 1200px;
  height: auto;

  .carousel .slide img {
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(0.6); // Reduce el tamaño de las imágenes laterales
    transition: transform 1s ease, opacity 5s ease; // Suaviza la transición
    //opacity: 0.6; // Reduce la opacidad de las imágenes laterales
  }

  .carousel .slide img:hover {
    transform: scale(1.05); // Amplía la imagen al hacer hover
  }

  .carousel .control-arrow {
    background: none;
    font-size: 5rem;
    color: #6a11cb; // Color de las flechas
  }

  .carousel .dot {
    background-color: #ccc;
  }

  .carousel .dot.selected {
    background-color: #6a11cb; // Color del punto activo
  }
  .carousel .slide.selected img {
    transform: scale(1); // Agranda la imagen central
    z-index: 2; // Asegura que la imagen central esté encima de las otras
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); // Sombra más destacada
  }
}
