.section {
  text-align: center;
  font-family: $fontStack;
  color: $titleColor;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;
  justify-content: center;

  @media (max-width: map-get($breakpoints, mobile)) {
    width: 100%;
  }
}

.container {
  @extend %flex;
}

.usTitle {
  @extend %flexColumCenter;
  max-width: 1204px;
}

.usCardContainer {
  background: var(--Gray-50, $backUsCard);
  width: 100%;
  display: flex;
  justify-content: center;

  @media (max-width: map-get($breakpoints, mobile)) {
    width: 90%;
  }
}

.usCards {
  display: flex;
  flex-wrap: wrap;
  gap: $px32;
  padding: $px20 0 $px20 $px112;
  //padding-left: $px112;
  max-width: 1216px;

  @media (max-width: map-get($breakpoints, mobile)) {
    padding: 1rem;
    max-width: 90%;
  }
}
