.usSection {
  @extend %flexColumCenter;
  text-align: center;
  font-family: $fontStack;
  color: $titleColor;
  //width: 100v;
  //max-width: 1440px;
//padding-left: 10%;
}

.usContainer {
  
}

.usTitle {
    @extend %flexColumCenter;
    max-width: 1216px;
}
.badge {
  border-radius: 16px;
  background: var(--Brand-50, $ligthColor);
  mix-blend-mode: multiply;
  width: fit-content;
  padding: 4px 12px;
  color: $titleTextColor;
}

.title {
    font-size: $fontSize48;
    font-weight: $fontWeigth600;
}

.usTitleText {
    font-size: $fontSize23;
    font-weight: $fontWeigthNormal;
    color: $titleTextColor;
}

.usCards {
  background: var(--Gray-50, $backUsCard);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: $px32;
  //padding-left: $px112;
}