.section {
  text-align: center;
  font-family: $fontStack;
  color: $titleColor;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;
}

.container {
  @extend %flex;
}

.usTitle {
  @extend %flexColumCenter;
  max-width: 1204px;
}
.badge {
  border-radius: 16px;
  background: var(--Brand-50, $ligthColor);
  mix-blend-mode: multiply;
  width: fit-content;
  padding: 4px 12px;
  color: $titleTextColor;
}

.title {
  font-size: $fontSize48;
  font-weight: $fontWeigth600;
}

.usTitleText {
  font-size: $fontSize23;
  font-weight: $fontWeigthNormal;
  color: $titleTextColor;
}

.usCardContainer {
  background: var(--Gray-50, $backUsCard);
  width: 100%;
  display: flex;
  justify-content: center;
}

.usCards {
  display: flex;
  flex-wrap: wrap;
  gap: $px32;
  padding: $px20 0 $px20 $px112;
  //padding-left: $px112;
  max-width: 1216px;
}
