%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flexColumStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

%flexColumCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}