$primaryColor: #6200ea;
$secondaryColor: #3700b3;
$ligthColor: #F9F5FF;
$titleColor: #6941C6;

//$fontStack: 'Roboto', sans-serif;
$fontStack: 'Inter', sans-serif;

$fontSizeNormal: 1rem; 
$fontSizeLarge: 1.5rem; 
$fontSizeSmall: 0.875rem;
$fontSizeButton: 1.12rem;
$fontSizeTitle: 4rem;

$fontWeigthNormal: 400;
$fontWeigthButton: 500;
$fontWeigthTitle: 300;
$fontWeigthStrong:900;