//Colores del proyecto
$primaryColor: #6200ea;
$secondaryColor: #3700b3;
$ligthColor: #F9F5FF;
$titleColor: #6941C6;
$titleTextColor: #42307D;
$backUsCard: #FAFAFA;
$textUsCard: #535862;
$backValues: #F5F5F5;
$bakWordsCarousel: #FFF;

$colorBack1: #0048FF;
$colorBack2: #00DDFF;
$colorBack3: #8800FF;
$colorBack4: #FF8400;

//Tipografía del proyecto
//$fontStack: 'Roboto', sans-serif;
$fontStack: 'Inter', sans-serif;

//Tamaño de fuentes
$fontSizeNormal: 1rem; 
$fontSizeLarge: 1.5rem; 
$fontSizeSmall: 0.875rem;
$fontSizeTitle: 4rem;
$fontSize18: 1.12rem;
$fontSize23: 1.44rem;
$fontSize48: 3rem;
$fontSize20: 1.25rem;
$fontSize32: 2rem;

//Espesores de fuentes
$fontWeigthNormal: 400;
$fontWeigth500: 500;
$fontWeigthTitle: 300;
$fontWeigthStrong:900;
$fontWeigth700: 700;
$fontWeigth600: 600;

//relacion con px
$px20: 1.25rem;
$px112: 7rem;
$px32: 2rem;
$px12: 0.75rem;
$px670: 41.9rem;
$px320: 20rem;

//Definición de breakpoints
$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1024px,
);