@import 'normalize.css';
.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerMenu, .headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardContainer, .usTitle, .usSection, .heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.button {
  padding: 4px 12px;
  color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid var(--linear, #a79fff);
  background: var(--color-time, linear-gradient(180deg, #7e73ff 0%, #6941c6 100%));
}
.button:hover {
  background-color: #3700b3;
}

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerMenu, .headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardContainer, .usTitle, .usSection, .heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.header {
  background-image: url("../../assets/headerBackground.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1440;
  height: 89px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #F9F5FF;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerNav {
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 59px;
  max-width: 1213px;
  margin: 0 auto;
  padding: 0 64px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.headerMenu {
  width: 320px;
}

.headerLink:hover {
  scale: 110%;
  transition: 400ms;
}

.headerLogo {
  display: grid;
  justify-content: center;
  width: 176px;
  height: auto;
}
.headerLogo:hover {
  scale: 110%;
  transition: 400ms;
}

.headerLogoIcon {
  margin-top: 40px;
  width: 103px;
  height: 101px;
  justify-self: center;
}

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerNav, .headerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardContainer, .usTitle, .usSection, .heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.heroSection {
  height: 100vh;
  background-image: url("../../assets/heroBackground.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Inter", sans-serif;
  color: #6941C6;
  font-size: 1rem;
  border: 2px;
  border-color: black;
  border-style: outset;
}

.heroContainer {
  max-width: 830px;
  text-align: center;
}

.heroTitle {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 0px;
}

.titleRemark {
  font-weight: 900;
}

.heroText {
  color: #42307D;
  font-size: 1.12rem;
  max-width: 600px;
  margin-bottom: 150px;
}

.usSection {
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #6941C6;
}

.usTitle {
  max-width: 1216px;
}

.badge {
  border-radius: 16px;
  background: var(--Brand-50, #F9F5FF);
  mix-blend-mode: multiply;
  width: fit-content;
  padding: 4px 12px;
  color: #42307D;
}

.title {
  font-size: 3rem;
  font-weight: 600;
}

.usTitleText {
  font-size: 1.44rem;
  font-weight: 400;
  color: #42307D;
}

.usCards {
  background: var(--Gray-50, #FAFAFA);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.cardContainer {
  width: 384px;
  height: 178px;
  padding-top: 1, 25rem;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 500;
}

.cardText {
  color: #535862;
}

/*# sourceMappingURL=main.css.map */
